/*=============================================
GLOBAL
=============================================*/

*{
	margin:0px;
	padding:0px;
	list-style: none;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box;
}

.content-fluid{
	position:relative;
	margin:auto;
	width:100%;
	height: auto;
}

.row{
	position:relative;
	margin:auto;
	width:100%;
	height: auto;
	clear:both;
	display:table;
}

[class*="col-"]{
	float:left;
	padding:0px;
}

h1.titulos{
	background:white;
	text-align: center;
	color:#666;
	font-weight:100;
}

h1.titulos hr{
	margin:20px;
	border:1px solid #ddd;
}

/*=============================================
CABEZOTE
=============================================*/

header{
	background:white;
}

header #logotipo{
	text-align: center;
	padding:20px;
}

header nav ul li a{
	display: block;
	background:#333;
	text-align:center;
	padding:10px;
	color:white;
}

/*=============================================
SLIDESHOW
=============================================*/

#slide{
	position:relative;
	margin:auto;
	width:100%;
	overflow: hidden;
	background:white;
}

#slide ul{
	position:relative;
	left:0%;
	margin:auto;
	height:auto;
	width:400%;
	clear:both;
	display: table;
}

#slide ul li{
	position: relative;
	float:left;
	width:25%;
}

#slide ul li img{
	width:100%;
}

#slide #paginacion{
	position: absolute;
	width:100%;
	margin:auto;
	text-align: center;
	bottom:10px;
	left:0;
	z-index:1;
}

#slide #paginacion li{
	display:inline-block;
	margin:0px 5px;
	cursor:pointer;
	opacity:.5;
	color:white;
	text-shadow:0px 0px 5px #333;
}

#slide #paginacion li:first-child{
	opacity:1;
}

#slide .flechas{
	position:absolute;
	font-size:2em;
	color:white;
	cursor:pointer;
	z-index:2;
}

#slide #retroceder{
	top:45%;
	left:2%;
}

#slide #avanzar{
	top:45%;
	right:2%;
}

#slide ul li .textoSlide{
	position:absolute;
	width:100%;
	bottom:40px;
	left:0;
	text-align:center;
	z-index:1;
	color:white;
}

#slide ul li .textoSlide h1{
	background: rgba(0,0,0,.5);
	padding:5px 0;
}

#slide ul li .textoSlide h3{
	background: rgba(0,0,0,.5);
	padding-bottom:10px;
}

/*=============================================
GALERIA
=============================================*/

#galeria{
	position:relative;
	margin:auto;
	width:100%;
	background:white;
}

#galeria ul{
	padding:20px;
}

#galeria ul li{
	padding:10px;
	cursor:pointer;
	transition:.6s;
}

#galeria ul li:hover{
	transition:.6s;
	opacity:.6;
}

#galeria ul li img{
	width:100%;
}

/*=============================================
EFECTO DE MOUSE
=============================================*/

#efectoMouse{
	position:relative;
	width:100%;
	overflow:hidden;
}

#efectoMouse figure{
	position: absolute;
	top:0;
	left:0;
}

/*=============================================
EFECTO DE SCROLL
=============================================*/

#fotoFondo{
	position:fixed;
	width:100%;
	height:100%;
	z-index:-10;
	background: url(../img/slide/slide03.jpg);
	background-size: cover;
}

#scroll{
	padding:40px;
}

#scroll article aside{
	border:1px solid silver;
	margin:10px auto;
	position:relative;
	background:white;
	height:auto;
	overflow: hidden;
}

#scroll article aside img{
	width:100%;
	border:5px solid white;
}

#scroll article aside h1{
	font-size:30px;
	padding:10px 20px;
	color:#666;
}

#scroll article aside p{
	font-size:14px;
	padding:0px 20px;
}

#scroll article aside button{
	float:right;
	margin:20px;
	font-size:12px;
	border:0px;
	background:#333;
	color:white;
	padding:10px 20px;
	cursor:pointer;
}

/*=============================================
PANTALLA DE ESCRITORIO GRANDE - LARGE (lg) - revisamos en portatil o pc
=============================================*/

@media(min-width:1200px){

	.col-lg-12{width:100%;}
	.col-lg-11{width:91.66666667%;}
	.col-lg-10{width:83.33333333%;}
	.col-lg-9{width:75%;}
	.col-lg-8{width:66.66666667%;}
	.col-lg-7{width:58.33333333%;}
	.col-lg-6{width:50%;}
	.col-lg-5{width:41.66666667%;}
	.col-lg-4{width: 33.33333333%;}
	.col-lg-3{width: 25%;}
	.col-lg-2 {width: 16.66666667%;}
	.col-lg-1 {width: 8.33333333%;}
	.col-lg-0{display:none;}

	/*CABEZOTE*/

	header nav ul li a{
		margin:30% 5px;
		font-size:14px;
	}

	header #logotipo img{
		width:100%;
	}

}

/*=============================================
PANTALLA DE ESCRITORIO MEDIANO - MEDIUM (md) - revisamos en tablet horizontal 1024px
=============================================*/

@media(max-width:1199px) and (min-width:992px){

	.col-md-12{width:100%;}
	.col-md-11{width:91.66666667%;}
	.col-md-10{width:83.33333333%;}
	.col-md-9{width:75%;}
	.col-md-8{width:66.66666667%;}
	.col-md-7{width:58.33333333%;}
	.col-md-6{width:50%;}
	.col-md-5{width:41.66666667%;}
	.col-md-4{width: 33.33333333%;}
	.col-md-3{width: 25%;}
	.col-md-2{width: 16.66666667%;}
	.col-md-1{width: 8.33333333%;}
	.col-md-0{display:none;}

	/*CABEZOTE*/

	header nav ul li a{
		margin:30% 5px;
		font-size:14px;
	}

	header #logotipo img{
		width:100%;
	}

}

/*=============================================
PANTALLA DE TABLET - SMALL (sm) - revisamos en tablet vertical 768px
=============================================*/

@media(max-width:991px) and (min-width:768px){

	.col-sm-12{width:100%;}
	.col-sm-11{width:91.66666667%;}
	.col-sm-10{width:83.33333333%;}
	.col-sm-9{width:75%;}
	.col-sm-8{width:66.66666667%;}
	.col-sm-7{width:58.33333333%;}
	.col-sm-6{width:50%;}
	.col-sm-5{width:41.66666667%;}
	.col-sm-4{width: 33.33333333%;}
	.col-sm-3{width: 25%;}
	.col-sm-2{width: 16.66666667%;}
	.col-sm-1{width: 8.33333333%;}
	.col-sm-0{display:none;}

	/*CABEZOTE*/

	header nav ul li a{
		margin:28% 2px;
		font-size:10px;
	}

	header #logotipo img{
		width:100%;
	}

	/*SLIDE*/

	#slide ul li .textoSlide h1{
		font-size: 20px;
	}

	#slide ul li .textoSlide h3{
		font-size: 14px;
	}


}

/*=============================================
PANTALLA DE PHONES - EXTRA SMALL (xs) - revisamos en movil horizontal 480px o vertical 320px
=============================================*/

@media(max-width:767px){

	.col-xs-12{width:100%;}
	.col-xs-11{width:91.66666667%;}
	.col-xs-10{width:83.33333333%;}
	.col-xs-9{width:75%;}
	.col-xs-8{width:66.66666667%;}
	.col-xs-7{width:58.33333333%;}
	.col-xs-6{width:50%;}
	.col-xs-5{width:41.66666667%;}
	.col-xs-4{width: 33.33333333%;}
	.col-xs-3{width: 25%;}
	.col-xs-2{width: 16.66666667%;}
	.col-xs-1{width: 8.33333333%;}
	.col-xs-0{display:none;}

	/*CABEZOTE*/

	header nav ul li a{
		margin:0px;
		font-size:14px;
		border-bottom:1px solid #444;
	}

	header #logotipo img{
		width:50%;
	}

	/*SLIDE*/

	#slide ul li .textoSlide{
		display:none;
	}

	#slide #retroceder{
		top:40%;
		font-size: 1em;
		left:2%;
	}

	#slide #avanzar{
		top:40%;
		font-size: 1em;
		right:2%;
	}
}
